.container {
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 1600px) {
  .container {
    width: 1300px;
  }
}
.container-fluid {
  /*width: 1300px;*/
}
.header-top {
  min-height: 60px;
}
.header-top .name {
  padding-top: 20px;
}
.header-top .info span {
  letter-spacing: -0.3px;
}
@media (min-width: 992px) {
  .header-top .info {
    padding-top: 28px;
    padding-left: 15px;
  }
}
.header-top .callers {
  padding-right: 35px;
}
.header-top .callers img {
  margin-right: 10px;
}
.header-top .callers img:last-child {
  margin-right: 0;
}
.header-top .cloud {
  margin-right: 15px;
  margin-left: 5px;
  margin-bottom: 12px;
}
.header-top .blue {
  color: #4a90e2;
  font-size: 24px;
}
.header-top .contact-info {
  padding-left: 5px;
  color: #969695;
}
.header-top .contact-info span {
  letter-spacing: -1px;
}
.header-top .contact-info span i {
  margin-left: 18px;
}
@media (min-width: 992px) {
  .header-top .contact-info {
    margin-right: 42px;
    float: left;
    padding-top: 10px;
  }
}
.header-top .phones {
  color: #969695;
}
@media (min-width: 992px) {
  .header-top .phones {
    float: left;
  }
}
@media (min-width: 992px) {
  .header-top .contacts-parent {
    padding-left: 75px;
    padding-top: 15px;
  }
}
.header-middle {
  background: #4a90e2;
  min-height: 44px;
}
.header-middle .nav.navbar-nav {
  display: inline-block;
  float: none;
}
.header-middle .navbar-default {
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: none;
  margin-bottom: 0;
  text-align: center;
}
.header-middle .navbar-default ul {
  padding-right: 0;
}
@media (min-width: 992px) {
  .header-middle .navbar-default ul li:first-child {
    margin-left: 65px;
  }
}
@media (min-width: 992px) {
  .header-middle .navbar-default ul li {
    margin-right: 52px;
  }
}
.header-middle .navbar-default ul li a {
  color: #fff !important;
  border-bottom: 1px solid #fff;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}
.header-middle .navbar-default ul li a:focus {
  background-color: transparent !important;
}
.carousel-caption {
  top: 20px;
}
.carousel-caption h2 {
  text-shadow: none;
}
@media (min-width: 992px) {
  .carousel-caption h2 {
    font-size: 42px;
    margin-left: 30px;
  }
}
@media (min-width: 992px) {
  .carousel-caption button {
    margin-top: 13px;
    margin-left: 20px;
  }
}
#carousel-generic {
  background: #000;
}
#carousel-generic img {
  opacity: 0.75;
  -moz-opacity: 0.75;
  filter: alpha(opacity=75) black;
  -khtml-opacity: 0.75;
  background-color: #000;
}
#carousel-generic a.control.left {
  position: absolute;
  top: 46%;
  left: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 15px;
  color: #fff;
}
#carousel-generic a.control.right {
  position: absolute;
  top: 46%;
  right: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 15px;
  color: #fff;
}
#carousel-generic a.control:hover {
  background: #000000;
}
.banner {
  /*height: 700px;*/
}
main {
  font-family: 'Open Sans', sans-serif;
}
main button {
  border: 1px solid #4a90e2;
  background: none;
  color: #4a90e2;
  border-radius: 3px;
  font-size: 11px;
  width: 96px;
  height: 32px;
}
main .rounded {
  background: #4a90e2;
  border-radius: 40px;
  color: #fff;
  min-width: 160px;
  font-size: 14px;
  min-height: 45px;
}
table.cart {
  width: 100%;
}
table.cart tr td {
  padding-bottom: 20px;
  width: auto;
  text-align: left;
}
table.cart tr:last-child td {
  margin-bottom: 0;
}
table.cart select {
  width: 180px;
  height: 25px;
}
table.cart #design {
  width: 92px;
}
table.cart button {
  width: 84px;
  height: 25px;
}
.popular .price {
  font-size: 27px;
  line-height: 32px;
  bottom: 0;
  /*position: absolute;*/
}
.popular .item {
  min-height: 400px;
  display: table;
}
.popular .item .table {
  display: table-cell;
  vertical-align: middle;
}
.popular .item .block {
  display: block;
}
.popular span {
  font-size: 15px;
}
.popular h3 {
  font-size: 33px;
  margin-top: 34px;
}
.popular .popular-orders {
  width: 78%;
  margin-top: 10px;
}
.popular .popular-orders td {
  width: 33%;
}
.popular .popular-orders .buttons td {
  height: 60px;
  vertical-align: middle;
}
.popular .popular-orders .order {
  padding-top: 25px;
  padding-left: 30px;
}
.popular .popular-orders-table td.first {
  height: 80px;
  vertical-align: middle;
}
.popular .popular-orders-table td.last {
  height: 70px;
  vertical-align: middle;
}
.popular .popular-orders-table td.middle {
  height: 265px;
  vertical-align: middle;
}
.popular-banner {
  border: 1px solid #4a90e2;
  border-radius: 3px;
}
@media (min-width: 768px) {
  .popular-banner {
    width: 314px;
    float: right;
  }
}
.popular-banner .head {
  background: #4a90e2;
  color: #fff;
  height: 156px;
  /* width: 300px;*/
  padding-top: 20px;
}
.popular-banner .head .price {
  margin-top: 18px;
  margin-bottom: 3px;
  margin-left: 30px;
}
.popular-banner .head .price sup {
  font-size: 50%;
  line-height: 40px;
  vertical-align: text-top;
}
.popular-banner .body {
  /*width: 300px;*/
  padding-top: 20px;
  color: #2c2c2c;
}
.popular-banner .bottom {
  /*margin-top: 13px;*/
  background: #f3f3f3;
  padding: 18px 40px 5px;
}
.popular-banner ul {
  list-style: none;
  padding-left: 0;
  margin-top: 12px;
  font-size: 15px;
  margin-bottom: 0;
}
.popular-banner ul li {
  border-bottom: 1px solid #d4d4d4;
  text-align: center;
  margin: 0 auto;
  width: 210px;
  color: #5d5d5d;
  padding-bottom: 8px;
  padding-top: 5px;
}
.popular-banner ul li:last-child {
  border-bottom: none;
}
/*-- font section --*/
.font-11 {
  font-size: 11px !important;
}
.font-15 {
  font-size: 15px !important;
}
.font-18 {
  font-size: 18px !important;
}
.font-33 {
  font-size: 33px !important;
}
/*--end font section--*/
.popular-example {
  margin-top: 28px;
  margin-left: 1px;
}
@media (min-width: 768px) {
  .popular-example {
    height: 705px;
  }
}
@media (min-width: 992px) {
  .popular-info {
    margin-left: 60px;
    padding-top: 17px;
  }
}
.popular-info .head {
  font-size: 33px;
  letter-spacing: -0.6px;
  /*sup {
      font-size: 50%;
      top: -1em;
    }*/
}
.popular-info .body {
  /*.item:first-child {
      @media (min-width: 768px){
        margin-top: 100px;
    }
  }*/
}
@media (min-width: 768px) {
  .popular-info .body {
    width: 455px;
    margin-top: 107px;
  }
}
.popular-info .body .item {
  min-height: 0;
}
.popular-info .body .item span {
  font-weight: bold;
  font-size: 15px;
}
.popular-info .body .item p {
  font-size: 16px;
  color: #626262;
  line-height: 25px;
  letter-spacing: -0.4px;
}
.section .image {
  position: relative;
}
.section .image .img {
  text-align: center;
  background: #000;
}
.section .image img {
  opacity: 0.75;
  -moz-opacity: 0.75;
  filter: alpha(opacity=75) black;
  -khtml-opacity: 0.75;
  background-color: #000;
}
.section .image .print {
  letter-spacing: -0.7px;
  top: 0;
  font-size: 1em;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  color: #fff;
}
@media (min-width: 1200px) {
  .section .image .print {
    top: 120px;
    font-size: 33px;
  }
}
.section .image .colors {
  bottom: 5px;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  font-size: 12px;
  color: #fff;
}
@media (min-width: 1200px) {
  .section .image .colors {
    bottom: 149px;
  }
}
.section .image button {
  bottom: 40%;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
}
@media (min-width: 992px) {
  .section .image button {
    top: 44%;
  }
}
@media (min-width: 768px) {
  .section .image button {
    bottom: 50%;
  }
}
.section .list {
  text-align: center;
  padding-top: 50px;
}
@media (min-width: 992px) {
  .section .list {
    height: 300px;
  }
}
.section .list ul {
  list-style: none;
  padding-left: 0;
  display: inline-block;
  margin: 0 auto;
  padding-right: 20px;
}
@media (min-width: 992px) {
  .section .list ul li {
    float: left;
    margin-right: 15px;
  }
}
@media (min-width: 1200px) {
  .section .list ul li {
    margin-right: 75px;
  }
}
.section .list ul li p {
  margin-top: 30px;
  letter-spacing: 1px;
  line-height: 25px;
}
.section .list ul li p .name {
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 0.2px;
}
.section .list ul li p .descr {
  margin-top: 8px;
  display: block;
}
.section .list ul li:last-child {
  margin-right: 0;
}
.text {
  background: #f3f3f3;
  padding: 10px;
  text-align: center;
}
@media (min-width: 1400px) {
  .text {
    padding: 90px 75px 30px 80px;
    text-align: inherit;
  }
}
.text p span {
  display: block;
}
.text p.description {
  letter-spacing: -0.1px;
  line-height: 25px;
}
@media (min-width: 1200px) {
  .text p.description {
    width: 740px;
    float: right;
    padding-left: 5px;
  }
}
.text p.first {
  letter-spacing: -1px;
}
@media (min-width: 1200px) {
  .text p.first {
    float: left;
    margin-right: 25px;
  }
}
.map {
  max-height: 500px;
  background: #000;
  position: relative;
  text-align: center;
  /*background: url("../images/Screenshot_3.png") no-repeat rgba(0,0,0,0,0.3) ;*/
}
.map img {
  opacity: 0.75;
  -moz-opacity: 0.75;
  filter: alpha(opacity=75) black;
  -khtml-opacity: 0.75;
  background-color: #000;
  max-height: 500px;
  width: 100%;
}
.map .address {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: #ffffff;
  font-size: 18px;
}
.map .link {
  position: absolute;
  top: 47%;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 18px;
}
.map .link a {
  color: #d6d6d6;
  text-decoration: underline;
}
footer .contact-info {
  margin-right: 0 !important;
  letter-spacing: -1px;
}
@media (min-width: 992px) {
  footer .contact-info {
    float: left;
    margin-right: 42px;
  }
}
footer .callers {
  margin-left: 2px;
}
footer .callers img {
  margin-right: 20px !important;
}
footer .callers img:last-child {
  margin-right: 0;
}
@media (min-width: 992px) {
  footer .phones {
    float: left;
    margin-left: 42px;
    text-align: left;
  }
}
footer .phones span {
  letter-spacing: -0.5px;
}
footer .info {
  margin-top: 10px;
  padding-left: 0;
}
@media (min-width: 992px) {
  footer .header-top {
    padding-left: 80px;
    padding-top: 20px;
  }
}
@media (min-width: 992px) {
  footer .header-top .name {
    float: left;
    text-align: left;
  }
}
@media (min-width: 992px) {
  footer .header-top .info {
    padding-top: 20px;
    padding-left: 45px;
    text-align: left;
  }
}
footer .copy {
  text-align: center;
}
@media (min-width: 992px) {
  footer .copy {
    text-align: right;
    margin-top: 10px;
    padding-right: 78px;
  }
}
footer .copy span {
  letter-spacing: 0.5px;
}
footer .footer-nav {
  list-style: none;
  padding-left: 0;
  font-size: 11px;
  margin-top: 7px;
}
footer .footer-nav li {
  float: left;
  border-left: 1px solid #999999;
  color: #a7a7a7;
  padding-left: 12px;
  padding-right: 12px;
  letter-spacing: 1px;
}
footer .footer-nav li a {
  color: #a7a7a7 !important;
  letter-spacing: 0.9px;
}
.popular-list {
  display: inline-block;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .popular-list {
    margin-bottom: 30px;
  }
}
.popular-list li {
  margin-top: 30px;
}
@media (min-width: 1200px) {
  .popular-list li {
    margin-right: 100px;
    float: left;
    margin-top: 0;
  }
}
.popular-list li:last-child {
  margin-right: 0;
}
.poly-info {
  margin-bottom: 32px;
}
.poly-info .count p.number {
  text-align: center;
}
@media (min-width: 992px) {
  .poly-info .count p.number {
    float: left;
    padding-left: 82px;
    padding-top: 73px;
    text-align: left;
  }
}
.poly-info .count p.description {
  text-align: justify;
  padding: 5px;
}
@media (min-width: 992px) {
  .poly-info .count p.description {
    width: 850px;
    float: right;
    margin-top: 69px;
    margin-right: 82px;
  }
}
.poly-info .count p.description span {
  letter-spacing: -0.1px;
}
.poly-info .count p.description small {
  display: block;
  margin-top: 0;
}
.poly-info .count p.iso {
  letter-spacing: 0.4px;
}
@media (min-width: 768px) {
  .poly-info .count p.iso {
    margin-right: 68px;
  }
}
